/*********** Header ***********/

header{
    height: 70px;
    background-color: #488EAD;
    margin-bottom: 5%;
}

.header-content {
    padding-top: 24px;
}

.logo {
    font-size: 18px;
}

.menu__item {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.menu__item a {
    color: #2c465a;
    text-transform: uppercase;
}

.header-btn {
    color: #000000;
    text-transform: uppercase;
}

/*********** For table ***********/

table {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 70%;
    margin: 0 auto;
}

.tableListToLearn, .tableUsers {
    margin-top: 5%;
}

th, td {
    padding: 18px 28px 18px;
}

th {
    padding-top: 22px;
    background: #e8eaeb;
}

td {
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    padding-top: 5px;
}

tr.odd-row td {
    background: #f6f6f6;
}

td.first, th.first {
    text-align: left
}

td.last {
    border-right: none;
}

.btn {
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    padding: 1px 5px;
    margin-left: 5px;
}

.deleteWord {
    color: white;
    background-color: darkred;
    float: right;
}

.addToLearnList {
    color: white;
    background-color: green;
    float: right;
}

.showLearnList {
    color: white;
    background-color: green;
    width: 70%;
    margin: 3px 15%;
}

.showLearnListParent {
    margin-top: 5%;
    margin-bottom: 3px;
}

.learnWords {
    color: white;
    background-color: green;
    width: 70%;
    margin: 3px 15%;
}

.dictionaryHeading {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5%;
}

.add-word {
    width: 70%;
    margin-left: 15%;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
    padding: 33px 55px 33px 55px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.input-word {
    margin-right: 20px;
}

.add-word-btn {
    width: 100px;
}

.wrap-login100-form-btn-my {
    width: 200px;
    height: 50px;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 20px;
}

/*********** Algorithms ***********/

.navigation {
    margin-right: 20px;
    margin-top: 20px;
    color: white;
    background-color: blue;
}

.content {
    width: 30%;
    margin: 5% auto 0;
}

.first, .second, .third {
    display: none;
}

.learnForm {
    margin-top: 50px;
}

.algorithmsNumber {
    text-align: center;
}

.task {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.inputForLearn {
    margin-left: 10px;
    right: 0;
    width: 100%;
    border-bottom: 2px solid #adadad;
}

/*********** Admin ***********/

.showUsersDictionary {
    color: white;
    background-color: green;
    float: right;
}