/*********** For table ***********/

table {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 70%;
    margin: 0 auto;
}

.tableListToLearn, .tableUsers {
    margin-top: 5%;
}

th, td {
    padding: 18px 28px 18px;
}

th {
    padding-top: 22px;
    background: #e8eaeb;
}

td {
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    padding-top: 5px;
}

tr.odd-row td {
    background: #f6f6f6;
}

td.first, th.first {
    text-align: left
}

td.last {
    border-right: none;
}

.btn {
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    padding: 1px 5px;
    margin-left: 5px;
}

.deleteWord {
    color: white;
    background-color: darkred;
    float: right;
}

.addToLearnList {
    color: white;
    background-color: green;
    float: right;
}

.showLearnList {
    color: white;
    background-color: green;
    width: 70%;
    margin: 3px 15%;
}

.showLearnListParent {
    margin-top: 5%;
    margin-bottom: 3px;
}

.learnWords {
    color: white;
    background-color: green;
    width: 70%;
    margin: 3px 15%;
}

.dictionaryHeading {
    text-align: center;
    margin-bottom: 10px;
}

/*********** Algorithms ***********/

.navigation {
    margin-right: 20px;
    margin-top: 20px;
    color: white;
    background-color: blue;
}

.content {
    width: 30%;
    margin: 5% auto 0;
}

.first, .second, .third {
    display: none;
}

.learnForm {
    margin-top: 50px;
}

.algorithmsNumber {
    text-align: center;
}

.task {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.inputForLearn {
    margin-left: 10px;
    right: 0;
    width: 100%;
    border-bottom: 2px solid #adadad;
}

/*********** Admin ***********/

.showUsersDictionary {
    color: white;
    background-color: green;
    float: right;
}