<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Words to learn</title>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/reg-auth_styles/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/reg-auth_styles/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
<div class="tableListToLearn">
    <h3 class="dictionaryHeading">Dictionary</h3>
    <table>
        <tr>
            <th>Word</th>
            <th>Translate</th>
        </tr>
        {{range .list}}
            {{if .Word}}
                <tr>
                    <td>{{.Word}}</td>
                    <td>
                        {{.Translate}}
                    </td>
                </tr>
            {{end}}
        {{end}}
    </table>
    <div class="btn_parent">
        <button class="btn learnWords">Learn words</button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--===============================================================================================-->
<script src="../static/js/algorithms.js"></script>

</body>
</html>