<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/reg-auth_styles/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/reg-auth_styles/css/main.css">
    <!--===============================================================================================-->
</head>
<body>
<div class="tableUsers">
    <table>
        <tr>
            <th>Id</th>
            <th>Users</th>
        </tr>
        {{range .users}}
            <tr>
                <td>
                    {{.Id}}
                </td>
                <td>
                    {{.Email}}
                    <button class="btn showUsersDictionary" id="{{.Id}}">Show dictionary</button>
                </td>
            </tr>
        {{end}}
    </table>
</div>

<!--===============================================================================================-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--===============================================================================================-->
<script src="../static/js/main.js"></script>
<!--===============================================================================================-->

</body>
</html>