<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Dictionary</title>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/reg-auth_styles/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/reg-auth_styles/css/main.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
</head>
<body>

<header>
    <div class="container header-content">
        <div class="row">
            <div class="col-lg-5">
                LEARNING ENGLISH
            </div>
            <div class="col-lg-7 ml-auto">
                <nav>
                    <ul class="d-flex justify-content-between">
                        <li class="menu__item">
                            <button class="header-btn" id="showHomePage">
                                Home page
                            </button>
                        </li>
                        <li class="menu__item">
                            <button class="header-btn" id="showLearnList">
                                Learn list
                            </button>
                        </li>
                        {{if .user.IsAdmin}}
                            <li class="menu__item">
                                <button class="header-btn" id="showListOfUsers">
                                    List of users
                                </button>
                            </li>
                        {{end}}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="tableListWords">
    <h3 class="dictionaryHeading">{{.user.Email}} dictionary</h3>
    <table>
        <tr>
            <th>Word</th>
            <th>Translate</th>
        </tr>
        {{range .user.Dictionary}}
            <tr>
                <td>{{.Word}}</td>
                <td>
                    {{.Translate}}
                </td>
            </tr>
        {{end}}
    </table>
</div>

<!--===============================================================================================-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--===============================================================================================-->
<script src="../static/js/main.js"></script>
<!--===============================================================================================-->

</body>
</html>