<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Dictionary</title>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/reg-auth_styles/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="../static/reg-auth_styles/css/main.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
</head>
<body>
<div class="showLearnListParent">
    <button class="btn showLearnList">{{.user.Email}} dictionary</button>
</div>
<div class="tableListWords">
    <table>
        <tr>
            <th>Word</th>
            <th>Translate</th>
        </tr>
        {{range .user.Dictionary}}
            <tr>
                <td>{{.Word}}</td>
                <td>
                    {{.Translate}}
                </td>
            </tr>
        {{end}}
    </table>
</div>

</body>
</html>